@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-image: url("https://cdn.turningpointplus.org/web/images/main_bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 150px 0px; 
}

.item {
  height: 370px;
  width: 370px;
  transition: transform 0.3s ease;
  padding: 40px 40px 40px;
  justify-content: space-around;
}

.item:hover {
  transform: scale(1.1);
}

.heading {
  padding-top: 60px;
  display: flex;
  color: white;
  font-size: 35px;
  justify-content: space-evenly;
  width: 100%; 
 }



.left {
  margin-right: 250px;
}
 

.input {
  border: solid 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  padding: 12px 15px;
  text-align: center;
  color: white;
  width: 200px;
  height: 20px;
  font-size: 15px;
}

.input-icons {
  position: relative;
 }
 
 .input-icons .icon {
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  pointer-events: none;
  font-size: 20px;
 }
 
 .input-icons .input {
  padding-left: 30px; 
 }

 .warning {
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container take up the full viewport height */
 }

 
